body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: 100% 100%;

}
button{
    position: relative;
    width: 150px;
    height: 7vh;
    color: rgb(11, 10, 10);
    background-color: rgb(205, 233, 218);
    font-size: 18px;
    border-radius: 20px;
    -moz-box-align: center;
    

}